<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://owen-users-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>owen-users-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>owen-users-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$owen-users-api</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:i0q1505u0b.database.windows.net,1433;Initial Catalog=owen-users-api_db;User ID=owen-users-api@i0q1505u0b;Password=0wen@2016" Name="Data Source=tcp:i0q1505u0b.database.windows.net,1433;Initial Catalog=owen-users-api_db;User Id=owen-users-api@i0q1505u0b;Password=0wen@2016" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=OwenUserControl;User ID=sa;Password=sqlexpress" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=.\sqlexpress;Database=OwenUserControl;User ID=sa;Password=sqlexpress;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:i0q1505u0b.database.windows.net,1433;Initial Catalog=owen-users-api_db;User Id=owen-users-api@i0q1505u0b;Password=0wen@2016</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>